html,
body {
    height: 100%;
}

.main-page {
    background: linear-gradient(270deg, #A5DEFF 0%, rgba(196, 196, 196, 0) 101.21%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    position: relative;
}

header {
    margin-top: 32px;
    margin-bottom: 58px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-text {
    margin-left: 18px;
}

.banderogus-container {
    background: #fff;
    padding: 60px 56px;
    align-self: center;
}

.banderogus-title {
    color: #000;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
}

.banderogus-greeting {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 16px;
}

.banderogus-start-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;   
    color: #FF6B0A;
    margin-bottom: 48px;
}

.banderogus-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-top: 24px;
    margin-bottom: 48px;
}

.banderogus-launch {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    color: #FFF;
    cursor: pointer;
}

.banderogus-image {
    align-self: flex-end;
}

.main-page-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.gus-facts {
    padding: 52px 0 72px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ukr-logo {

}

.gus-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 24px;    
    color: #000;
    margin: 32px 0;
}

.gus-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    color: #000;
    text-align: center;
    width: 875px;
}

.gus-facts-container {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.gus-fact-item {
    width: 33%;
}

.gus-fact-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin: 12px 0 32px 0;
}

.gus-fact-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    width: 280px;
}

.victory-footer {
    display: flex;
    justify-content: center;
}

.victory-bgd {
    background: linear-gradient(270.11deg, #A5DEFF 2.07%, rgba(196, 196, 196, 0) 99.24%);
    width: 1170px;
    padding: 72px 0;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.victory-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: #000;
    margin: 16px 0;
}

.victory-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    width: 875px;
    text-align: center;
}

.modal-bgd {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(13, 7, 12, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.modal-form {
    background: #fff;
    padding: 32px 92px 60px 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.modal-form-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    margin: 32px 0 12px 0;
}

.modal-form-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 24px;
}

.modal-form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.modal-field-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 8px;
}

.modal-field-input {
    background: #FFFFFF;
    border: 1px solid #005BBB;
    border-radius: 8px;
    box-sizing: border-box;
    height: 48px;
    font-weight: 400;
    font-size: 16px;   
    color: #000;
    padding: 4px 8px;
}

.modal-form-btn {
    background: #FF6B0A;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
    cursor: pointer;
    border: 0;
    margin-top: 24px;   
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    border: 0;
    background: none;
}

.modal-descr {
    margin-bottom: 0;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

